<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
  <title>Insert a new run</title>
</head>

<body>

<div class="columns">
  <div class="column">
    <a href="/home">Back</a>
  </div>

  <div class="column is-half">

    <header th:replace="fragments :: header"></header>


    <div id="insert-box" class="box">
      <form method="post" th:action="@{'/add_run'}" id="insert-run-form" th:object="${runForm}">
          <div class="field" >
            <label class="label">Character</label>
            <div class="control">
              <div class="select" >
                <select name="charName">
                  <option th:each="char : ${usersCharacters}"  onclick="submitForm()">
                    <span th:text="${char.charName()}" th:value="${char.charName()}">Select character</span>
                  </option>
                </select>
              </div>
            </div>
          </div>

        <div class="field">
          <label class="label">Key lvl</label>
          <div class="control">
            <div class="select">
              <select name="key">
                <option value="0">+0</option>
                <option value="1">+1</option>
                <option value="2">+2</option>
                <option value="3">+3</option>
                <option value="4">+4</option>
                <option value="5">+5</option>
                <option value="6">+6</option>
                <option value="7">+7</option>
                <option value="8">+8</option>
                <option value="9">+9</option>
                <option value="10">+10</option>
                <option value="11">+11</option>
                <option value="12">+12</option>
                <option value="13">+13</option>
                <option value="14">+14</option>
                <option value="15">+15</option>
                <option value="16">+16</option>
                <option value="17">+17</option>
                <option value="18">+18</option>
                <option value="19">+19</option>
                <option value="20">+20</option>
                <option value="21">+21</option>
                <option value="22">+22</option>
                <option value="23">+23</option>
                <option value="24">+24</option>
                <option value="25">+25</option>
              </select>
            </div>
          </div>
        </div>


          <div class="field" >
            <label class="label">Dungeon</label>
            <div class="control">
              <div class="select" >
                <select name="dungeon" >
                  <option th:each="dungeon : ${dungeonList}">
                    <span th:text="${dungeon.dungeonName}" th:value="${dungeon.dungeonName}"></span>
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Drop</label>
            <div class="control">
              <div class="select">
                <select name="drop">
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Gearscore</label>
            <div class="control">
              <input class="input" type="text" placeholder="z.B. 352" name="gearscore">
            </div>
          </div>

          <div class="field">
            <label class="label">Zeit</label>
            <div class="control">
              <input class="input" type="text" placeholder="30" name="finished">
            </div>
          </div>

          <div class="field">
            <label class="label">Cleared</label>
            <div class="control">
              <div class="select">
                <select name="cleared">
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Add</button>
            </div>
          </div>

      </form>
    </div>

    <footer th:replace="fragments :: footer"></footer>
  </div>

  <div class="column"></div>
</div>

</body>
</html>